header{
    color:cadetblue;
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-family: georgia;
    text-transform: uppercase;
}
body{
    background-color: rgb(201, 228, 245);
}
#id1{
    text-align:center;
    text-transform:uppercase
    
}
.images{
    display:inline;
    margin-left: 28px;
}
.para{
    border-style: double;
    border-width: 10px;
    
}
h1{
    text-align: center;
}
#id2{
    margin-left: 18%;
}
.block1{
    text-align: center;
    background-color: cadetblue;
}
